<!--
 * @Date: 2021-10-13 10:16:00
 * @LastEditors: zhangwen
 * @LastEditTime: 2021-10-14 14:06:20
 * @FilePath: /vue_basic/11.条件渲染/条件渲染.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>条件渲染</title>
  <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
  <!-- 
    条件渲染：
      1.v-if
          写法：
            (1).v-if="表达式" 
            (2).v-else-if="表达式"
            (3).v-else="表达式"
          适用于：切换频率较低的场景。
          特点：不展示的DOM元素直接被移除。
          注意：v-if可以和:v-else-if、v-else一起使用，但要求结构不能被“打断”。
      2.v-show
          写法：v-show="表达式"
          适用于：切换频率较高的场景。
          特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉
      3.备注：使用v-if的时，元素可能无法获取到，而使用v-show一定可以获取到。
    -->
    <div id="root">
      <!-- v-show做条件渲染 -->
      (使用v-show) 您好！<span v-show="bool">{{name}}</span><hr/>
      <!-- v-if做条件渲染 -->
      (使用v-if) hello！<span v-if="bool">{{name}}</span><hr/>
      <!-- v-if和else-if连用 -->
      n的值为：<input type="text" v-model="n"/><br/>
      (v-if、v-else-if、v-else) 判断n：
      <span v-if="n<0">n小于0</span>
      <span v-else-if="n==0">n等于0</span>
      <span v-else>n大于0</span>
    </div>
  <script>
    Vue.config.productionTip = false;//阻止vue在启动时生成生产环境提示

    const vm = new Vue({
      el:'#root',
      data: {
        name: 'mornki',
        bool: true,
        n:2,
      }
    })
  </script>
</body>
</html>